$color-red: rgb(255, 20, 20);

@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto-Medium.ttf");
}
p {
  font-family: "Roboto-Medium";
}
body {
background-color: rgb(22, 22, 22);
overflow-y: scroll;
}
.card{
  display: inline-block;
  position: relative;
}
.links-center{
  position: relative;
  margin-left: 50px;
  margin-top: 75px;
}
#card-insert{
  display: grid;
  grid-template-columns: 300px 300px 300px ;
  grid-gap: 10px;
  padding: 10px;
}


/* DEMO GENERAL ============================== */
.hover {
  overflow: hidden;
  position: relative;
  padding-bottom: 60%;
  width: 300px;
  height: 300px;
  padding-left: 50px;
}

.hover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transition: all 0.4s;
}

.hover img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.hover-content {
  position: relative;
  z-index: 99;
}
.platforms-name{
  font-size: 10px;
}
/* DEMO 4 ============================== */
.hover-4 img {
  width: 180%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hover-4 .hover-overlay {
  background: rgba(0, 0, 0, 0.4);
  z-index: 90;
}

.hover-4-title {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 3rem;
  z-index: 99;
  font-size:24px;
}

.hover-4-description {
  position: absolute;
  top: 2rem;
  left: 5rem;
  text-align: left;
  border-right: 3px solid #fff;
  padding: 5 1rem;
  z-index: 99;
  transform: translateX(-5.5rem);
  opacity: 0;
  transition: all 0.3s;
  font-size:18px;
}
.noteRate{
  font-size: 28px;
  left: 10px;
}

@media (min-width: 992px) {
  .hover-4-description {
    width: 50%;
  }
}

.hover-4:hover img {
  width: 200%;
}

.hover-4:hover::after {
  opacity: 1;
  transform: none;
}

.hover-4:hover .hover-4-description {
  opacity: 1;
  transform: none;
}

.hover-4:hover .hover-overlay {
  background: rgba(0, 0, 0, 0.8);
}

